.collapsible .container {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    color: #DDD;
    background: #eef0f3;
    cursor: pointer;
    border-radius: 24px;
    transition: height 2s;
    padding: 6px;
    width: 36px;
    margin: 12px;
}

.collapsible .ModalOpen {
    max-height: 100%;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.collapsible .toggle {
    display: flex;
    flex-direction: column;
    width: 24px;
    height: 24px;
    padding: 6px;
}